@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

$color1:#F8FAFC;
$color2:#F5D565;
$color3:#F5E8D5;
$color4:#E9A23B;
$color5:#A0ECB1;
$color6:#32D657;
$color7:#F7D4D3;
$color8:#DD524C;
$color9:#E3E8EF;
$color10:#97A3B6;
$color11:#3662E3;
$color12:#00000033;
@media screen and (min-width:1280px) {
    body {
       background-color: $color1;
       .main-content{
        background-color: $color2;
        width: 100%;
        height: 70vh;
       }
    }
    
}