$color3: #f5e8d5;
$color4: #e9a23b;
$outfit: "Outfit", sans-serif;

.add-main {
  width: 100%;
  height: 80px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color3;
  border-radius: 15px;
  .add-cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .add-progress {
      font-family: $outfit;
      font-size: 20px;
      font-weight: 600;
      margin-top: 7px;
    }
  }
  .add-icon-container {
    background-color: $color4;
    width: 45px;
    height: 45px;
  }
}
