$color1: #f8fafc;
$color2: #f5d565;
$color3: #f5e8d5;
$color4: #e9a23b;
$color5: #a0ecb1;
$color6: #32d657;
$color7: #f7d4d3;
$color8: #dd524c;
$color9: #e3e8ef;
$color10: #97a3b6;
$color11: #3662e3;
$color12: #00000033;
$outfit: "Outfit", sans-serif;
@mixin status {
  width: 250px;
  height: 52px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  border: 2px solid $color9;
  padding: 1px;
  gap: 20px;
  &:hover {
    border: 2px solid $color11;
    cursor: pointer;
  }
  &:focus {
    outline: none;
    border: 2px solid $color11;
  }
}
@mixin iconstyles {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  padding: 7px;
  display: flex;
  justify-content: flex-end;
}
@mixin text {
  font-family: $outfit;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
}
@mixin button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 120px;
  height: 40px;
  border-radius: 26px;
  justify-content: center;
  align-items: center;
  color: $color1;
  &:focus {
    outline: none;
    cursor: pointer;
  }
  &:hover {
    cursor: pointer;
  }
}
.create-task-main {
  position: relative !important;
  z-index: 3;
  display: flex;
  height: 85vh;
  width: 600px;
  background-color: $color9;
  left: 90%;
  padding: 10px;
  border-radius: 12px;
  form {
    h2 {
      font-family: $outfit;
      font-size: 20px;
      font-weight: 600;
      margin-top: 7px;
      text-align: left;
      margin-left: 15px;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      width: 580px;
      label {
        font-family: $outfit;
        font-size: 12px;
        font-weight: 400;
        color: $color10;
        margin-top: -7px;
        text-align: left;
        margin-left: 0px;
      }
      input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 2px solid $color9;
        padding: 10px;
        &:focus {
          outline: none;
          border: 2px solid $color11;
        }
      }
      textarea {
        width: 100%;
        height: 180px;
        border-radius: 10px;
        border: 2px solid $color9;
        padding: 10px;
        outline: none !important;

        &:focus {
          outline: none;
          border: 2px solid $color11;
        }
      }
    }
    .icon-container {
      display: flex;
      flex-direction: column;
      h2 {
        font-family: $outfit;
        font-size: 12px;
        font-weight: 400;
        color: $color10;
        margin-top: 7px;
        margin-left: 25px;
      }
      .icon {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        .con {
          width: 45px;
          height: 45px;
        }
      }
    }
    .status-container {
      display: flex;
      flex-direction: column;
      h2 {
        font-family: $outfit;
        font-size: 12px;
        font-weight: 400;
        color: $color10;
        margin-top: 7px;
        margin-left: 25px;
      }
      .status {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .progress {
          @include status;
          .progress-icon {
            @include iconstyles;
            background-color: $color4;
          }
          .progress-text {
            @include text;
          }
        }
        .completed {
          @include status;
          .completed-icon {
            @include iconstyles;
            background-color: $color6;
          }
          .completed-text {
            @include text;
          }
        }
        .wont {
          @include status;
          .wont-icon {
            @include iconstyles;
            background-color: $color8;
          }
          .wont-text {
            @include text;
          }
        }
      }
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;
      margin-top: 40px;
      .delete-button {
        @include button;
        background-color: $color10;
        .deletecon {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .save-button {
        @include button;
        background-color: $color11;
        .savecon {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
