$color3:#F5E8D5;
$color4:#E9A23B;
$outfit: "Outfit", sans-serif;

.add-main{
    width: 100%;
    height: 70px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color3;
    border-radius: 15px;
    .add-cont{
        display: flex;
        flex-direction: row;
        gap: 20px;
        .add-progress{
            font-family: $outfit;
            font-size: 20px;
            font-weight: 600;
            margin-top: 7px;
        }
    }
    .add-icon-container{
        background-color: $color4;
        width: 45px;
        height: 45px;
    }
}