$color2:#F5D565;
$color1:#F8FAFC;
$color4:#E9A23B;

.progress-main{
    width: 100%;
    height: 70px !important;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: $color2;
    border-radius: 15px;
    padding: 20px;
    .progress-icon-container{
        background-color: $color1;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        padding: 7px;
    }

   
}